<configuration>
    <conversionRule conversionWord="coloring" converterClass="org.minibus.aqa.core.common.handlers.TestLoggerColorConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>
                %coloring(%date{ISO8601} [%thread] %-5level: %msg %n)
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>